## aws

# Azure OpenAI配置
AZURE_DEPLOYMENT_NAME=aws-mymodel
AZURE_OPENAI_API_KEY=awscs
AZURE_OPENAI_API_VERSION=2024-02-15-preview
AZURE_OPENAI_ENDPOINT=https://www.aws.com

## google

# Azure OpenAI配置
AZURE_DEPLOYMENT_NAME=gpt-4o
AZURE_OPENAI_API_KEY=apkkey
AZURE_OPENAI_API_VERSION=2024-02-15-preview
AZURE_OPENAI_ENDPOINT=https://yingcai-gpt.openai.azure.com/

